<div class="container-fluid">
	<div class="join-orgs-contain">
		<br>
		<div>
			<button class="btn btn-primary" ui-sref="auth.userProfile">Back to Settings</button>
		</div>
		<br>
		<div class="panel panel-info row">
			<div class="panel-heading col-sm-12">
				<h2 class="col-sm-6">Available Organizations</h2>
				<br class="hidden-xs">
				<div class="input-group col-sm-6">
					<span class="input-group-addon" aria-describedby="sizing-addon2"><div class="glyphicon glyphicon-search"></div></span>
					<input type="text" class="form-control" ng-model="searchOrg.name" placeholder="Search organization name..." aria-describedby="sizing-addon2">
				</div>
			</div>
			<div class="table-responsive col-sm-12">
				<table class="table table-hover">
						<th>Organization</th>
						<th>Location</th>
						<th>Info</th>
						<th>Join</th>
					</tr>
					<tr ng-repeat="org in orgs | filter:searchOrg" >
						<td class="org-name col-md-3"><h3>{{org.name}}</h3></td>
						<td><h5>{{org.add1}} {{org.add2}} {{org.city}} {{org.st}} {{org.zip}}</h5></td>
						<td><button class="btn btn-info"ng-click="showOrgInfo(org)">Info</button></td>
						<td><button class="btn btn-success" ng-click="joinOrg(org)">Join</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
