<div class="container-fluid">
	<circle-spinner ng-show="notLoaded"></circle-spinner>
	<div ng-show="stuffLoaded" class="my-orgs-contain">
		<br>
		<div class="btn-group">
		  <button class="btn btn-primary" ng-model="aptRadio" uib-btn-radio="'Left'" ng-click="aptView('listMode')">List View</button>
		  <button class="btn btn-primary" ng-model="aptRadio" uib-btn-radio="'Right'" ng-click="aptView('calendarMode')">Calendar View</button>
		</div>

		<div ng-show="calendarMode" class="">
			<calendar-directive apt="allMyApts" updated="getAllMyApts()" update-open-apt="skedApt()"></calendar-directive>
		</div>

		<div ng-show="listMode" class="">
			<br>
			<div ng-if="allMyMenteeApts[0]" class="panel">
				<div class="panel-heading panel-attending"><h2 class="white-title-text">Attending</h2></div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<tr>
								<th class="col-sm-2">Day</th>
								<th class="col-sm-2">Time</th>
								<th class="col-sm-2">Location</th>
								<th class="col-sm-6"> </th>
							</tr>
							<tr ng-repeat="apt in allMyMenteeApts">
								<td><h5>{{apt.startsAt | date: "EEE, MMM d"}}</h5></td>
								<td><h5>{{apt.startsAt | date: "shortTime"}} - {{apt.endsAt | date: "shortTime"}}</h5></td>
								<td><h5>{{apt.loc}}</h5></td>
								<td class="pull-right"><button ng-click="moreMentorInfo(apt)" class="btn btn-sm btn-warning">Info</button><button ng-click="rescheduleApt(apt._id, apt.org._id)" class="btn btn-sm btn-info">Reschedule</button><button class="btn btn-sm btn-danger" ng-click="cancelApt(apt._id)">Cancel</button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div ng-if="allMyMentorApts[0]" class="panel">
				<div class="panel-heading panel-hosting"><h2 class="white-title-text">Hosting</h2></div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<tr>
								<th class="col-sm-2">Day</th>
								<th class="col-sm-2">Time</th>
								<th class="col-sm-2">Location</th>
								<th class="col-sm-6"> </th>
							</tr>
							<tr ng-repeat="apt in allMyMentorApts">
								<td><h5>{{apt.startsAt | date: "EEE, MMM d"}}</h5></td>
								<td><h5>{{apt.startsAt | date: "shortTime"}} - {{apt.endsAt | date: "shortTime"}}</h5></td>
								<td><h5>{{apt.loc}}</h5></td>
								<td class="pull-right"><button ng-click="moreMenteeInfo(apt)" class="btn btn-sm btn-warning">Info</button><button ng-click="rescheduleApt(apt._id, apt.org._id)" class="btn btn-sm btn-info">Reschedule</button><button class="btn btn-sm btn-danger" ng-click="cancelApt(apt._id)">Cancel</button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
