<div class="container-fluid">
	<circle-spinner ng-show="notLoaded"></circle-spinner>
	<div ng-show="stuffLoaded" class="my-orgs-contain">
		<br>
		<div class="btn-group">
	    	<button class="btn btn-primary" ng-model="aptRadio" uib-btn-radio="'Left'" ng-click="aptView('listMode')">List</button>
	    	<button class="btn btn-primary" ng-model="aptRadio" uib-btn-radio="'Right'" ng-click="aptView('calendarMode')">Calendar</button>
		</div>
		<br>
		<div ng-show="calendarMode">
			<calendar-directive apt="allOrgApts"></calendar-directive>
		</div>
		<br>
		<div ng-show="listMode">
			<div class="panel panel-info">
				<div class="panel-heading"><h2>All {{thisOrg.name}} appointments</h2></div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<tr>
								<th>Title</th>
								<th>Day</th>
								<th>Time</th>
								<th>Mentor</th>
								<th>Location</th>
							</tr>
							<tr ng-model="allOrgApts" ng-repeat="apt in allOrgApts">
								<td><h5>{{apt.title}}</h5></td>
								<td><h5>{{apt.startsAt | date: "EEE, MMM d"}}</h5></td>
								<td><h5>{{apt.startsAt | date: "shortTime"}} - {{apt.endsAt | date: "shortTime"}}</h5></td>
								<td><h5>{{apt.mentor.firstName}} {{apt.mentor.lastName}}</h5></td>
								<td><h5>{{apt.loc}}</h5></td>
							</tr>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
